.vs/
build/
out/
CMakeSettings.json
*.user
*.suo
*.db
*.opendb
*.bak
*.tmp
*.zip
dist/
third_party/zlib_src/
test/*.accdb
x64/
Debug/
Release/
*.vcxproj.filters
ipch/
*.aps
.github/copilot-instructions.md
